@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.header-class-main {
  background-color: #000000;
  padding: 0 2em;
  margin: 1em 2em;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  border-bottom: 5px solid #ff0000;
  box-shadow: 0 10px 10px rgba(255, 0, 0, 0.176);
}

.header-class-main ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.header-class-main ul li h1 {
  font-size: 30px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
